.loadingContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(fff); /* Darker background */
    backdrop-filter: blur(1px);
    z-index: 9999;
}

.loadingContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1); /* Light transparency */
    padding: 40px;
    border-radius: 20px;
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); */
}

.spinner {
    width: 80px;
    height: 80px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loadingText {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #000000; /* White text */
    font-family: Arial, sans-serif;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .loadingContent {
        padding: 30px;
    }

    .spinner {
        width: 60px;
        height: 60px;
        border-width: 6px;
    }

    .loadingText {
        font-size: 20px;
    }
}
