asgiref==3.11.1
beautifulsoup4==4.15.0
brotli==1.2.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
cssselect2==0.9.0
dj-database-url==3.1.2
Django==6.0.6
django-cors-headers==4.9.0
django-phonenumber-field==8.4.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
fonttools==4.63.0
fpdf==1.7.2
google-auth==2.55.0
google-auth-oauthlib==1.4.0
gspread==6.2.1
idna==3.18
lxml==6.1.1
numpy==2.4.6
oauthlib==3.3.1
openpyxl==3.1.5
pandas==3.0.3
phonenumbers==9.0.32
pillow==12.2.0
psycopg2-binary==2.9.12
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydyf==0.12.1
PyJWT==2.13.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.2.0
python-dotenv==1.2.2
pytz==2026.2
qrcode==8.2
reportlab==4.5.1
requests==2.34.2
requests-oauthlib==2.0.0
six==1.17.0
soupsieve==2.8.4
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
typing_extensions==4.15.0
urllib3==2.7.0
weasyprint==69.0
webencodings==0.5.1
zopfli==0.4.3
